<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <head>
    <%- include ('partials/header') %>
    <title>Statra One - ...</title>
  </head>
  <body>

    <%- body %>
   
  
    <%- include ('partials/footer') %>
  </body>
</html>
